.Nav-body {
  min-height: 12vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
  gap: 2rem;
  background-color: #010409;
}
.logo {
  margin-left: 1rem;
  /* margin-top: 0.5rem; */
  font-weight: 600;
  letter-spacing: 1px;
  color: #e5c453;
}
.connect {
  margin-right: 1rem;
  /* margin-top: 0.5rem; */
}
